<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Utilinsight</h2>
        <p class="lead">
          Applied Optimal offers a comprehensive cloud-based platform, <b>utilinsight</b>, 
          for monitoring all types of utilities in near real-time to promote reduced demand 
          and greater efficiency in utility consumption and management.
        </p>
        <p class="lead">Improved Customer Experience</p>
        <p class="lead">Improved Operational Experience</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
